#voltar{
    width:4vw;
    height:4vw;
    position: absolute;
    margin: 1vw;
    transition: 200ms;
    background-color: white;
    padding: 1vw;
    border-radius:50%;
    opacity: 0.6;
    top:0;
}
#voltar > img{
    width:4vw;
    margin-top:0.2vw;
}
#voltar:hover{
    opacity: 1;
}
#titulo{
    width:58%;
    background:none;
    border-radius: 5vw;
    border: white 0.4vw solid;
    margin: auto;
    margin-top:2vw;
}
#titulo > h2{
    font-size: 4vw;
    color: white;
    font-family: K2D;
    font-weight: 100;
    text-align: center;
}
#completo{
    width:94vw;
    display: flex;
    justify-content: space-around;
    margin-left: 3vw;
}
#nome{
    position: relative;
    width: 42vw;
    margin: auto;
    margin-top: 1vw;
}
#gmail{
    position: relative;
    width: 70vw;
    margin: auto;
    margin-top: 1vw;
}
#senha{
    position: relative;
    width: 70vw;
    margin: auto;
    margin-top: 1vw;
}
#nome > h3{
    color:white;
    font-family: K2D;
    font-size: 1.5vw;
    margin-left: 2vw;
    font-weight: 100;
}
#gmail > h3{
    color:white;
    font-family: K2D;
    font-size: 1.5vw;
    margin-left: 2vw;
    font-weight: 100;
}
#senha > h3{
    color:white;
    font-family: K2D;
    font-size: 1.5vw;
    margin-left: 2vw;
    font-weight: 100;
}
#entrada{
    display: flex;
    width:42vw;
}
#entrada2{
    display: flex;
    width:70vw;
}
#simbolo{
    width:9vw;
    height:4vw;
    background-color: white;
    border-bottom-left-radius:5vw;
    border-top-left-radius: 5vw;
}
#simbolo > img{
    width:3vw;
    margin-left:3vw;
    margin-top: 0.5vw;
}
#inputnome{
    width:30vw;
    height:4vw;
    background-color: rgba(255, 255, 255, 80%);
    border:none;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    outline: none;
    color:black;
    font-size: 1.5vw;
    font-family: Inter;
    padding-left:1.5vw;
    padding-right:1.5vw;
}
#inputgmail{
    width:58vw;
    height:4vw;
    background-color: rgba(255, 255, 255, 80%);
    border:none;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    outline: none;
    color:black;
    font-size: 1.5vw;
    font-family: Inter;
    padding-left:1.5vw;
    padding-right:1.5vw;
}
#inputsenha{
    width:58vw;
    height:4vw;
    background-color: rgba(255, 255, 255, 80%);
    border:none;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    outline: none;
    color:black;
    font-size: 1.5vw;
    font-family: Inter;
    padding-left:1.5vw;
    padding-right:1.5vw;
}
#botao{
    width:27%;
    height:5vw;
    background-color:white;
    border-radius: 3vw;
    display: block;
    margin: auto;
    margin-top:3vw;
    text-decoration: none;
    transition: 200ms;
}
#botao > p{
    color:#238DDA;
    font-family: K2D;
    width:100%;
    line-height:4.8vw;
    text-align: center;
    font-size: 3vw;
    border-radius: 3vw;
    font-weight: bold;
}
#botao:hover{
    transition: 200ms;
    background-color:#d7edfd;
    transform: scale(0.95);
}

@media only screen and (max-width: 600px){
    #nav2{
        position:fixed;
        bottom: 0;
        width:100%;
        height: 20vw;
        z-index: 999;
        display:block;
    }
    #fho{
        position: absolute;
        z-index: 999;
        width:9%;
        left:45.5%;
        top:8%;
        opacity: 0.75;
    }
    #fjo{
        position: absolute;
        z-index: 999;
        opacity: 0.3;
        width:9%;
        right:28%;
        top:16%;
    }
    #fco{
        position: absolute;
        z-index: 999;
        opacity: 0.3;
        width:8%;
        left:29%;
        top:19%;
    }
    #fcb{
        position: absolute;
        z-index: 999;
        opacity: 0.25;
        width:8%;
        left:11.5%;
        top:31%;
    }
    #fli{
        position: absolute;
        z-index: 999;
        opacity: 0.3;
        width:8%;
        right:11.5%;
        top:31%;
    }
    #eli2{
        position:absolute;
        width:100%;
        bottom: 0;
        z-index: 998;
    }
    #eli1{
        position:absolute;
        width:100%;
        bottom:0;
        z-index: 997;
    }
    #voltar{
        width:8vw;
        height:8vw;
        margin: 2vw;
        padding: 2vw;
    }
    #voltar > img{
        width:8vw;
        margin-top: 0.2vw;
    }
    #titulo{
        width:90%;
        border-radius: 10vw;
        margin-top: 22vw;
        border: white 1vw solid;
        margin-bottom: 10vw;
    }
    #titulo > h2{
        font-size: 7.4vw;
        line-height:10vw;
    }
    #botao{
        width:70vw;
        height:13vw;
        border-radius: 10vw;
        margin-top: 19vw;
    }
    #botao > p{
        line-height: 12.8vw;
        font-size: 7vw;
    }
    #completo{
        display: block;
    }
    #nome{
        margin-top:3vw;
        width:85vw;
    }
    #gmail{
        margin-top:3vw;
        width:85vw;
    }
    #senha{
        margin-top:3vw;
        width:85vw;
    }
    #nome > h3{
        font-size: 4vw;
        margin-left: 4vw;
    }
    #gmail > h3{
        font-size: 4vw;
        margin-left: 4vw;
    }
    #senha > h3{
        font-size: 4vw;
        margin-left: 4vw;
    }
    #entrada{
        width:100%;
    }
    #entrada2{
        width:100%;
    }
    #simbolo{
        width:20vw;
        height:10vw;
    }
    #simbolo > img{
        width:6.8vw;
        margin-top: 1.6vw;
        margin-left: 6.6vw;
    }
    #inputnome{
        width:63.5vw;
        height:10vw;
        font-size: 5vw;
    }
    #inputgmail{
        width:63.5vw;
        height:10vw;
        font-size: 5vw;
    }
    #inputsenha{
        width:63.5vw;
        height:10vw;
        font-size: 5vw;
    }
}