#nav2{
    display: none;
}
@media only screen and (max-width: 600px){
    #nav2{
        position:fixed;
        bottom: 0;
        width:100%;
        height: 20vw;
        z-index: 999;
        display:block;
    }
    #fho{
        position: absolute;
        z-index: 999;
        width:9%;
        left:45.5%;
        top:8%;
        opacity: 0.6;
    }
    #fjo{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:9%;
        right:28%;
        top:16%;
    }
    #fco{
        position: absolute;
        z-index: 999;
        width:8%;
        left:29%;
        top:19%;
    }
    #fcb{
        position: absolute;
        z-index: 999;
        width:8%;
        left:11.5%;
        top:31%;
        opacity: 0.5;
    }
    #fli{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:8%;
        right:11.5%;
        top:31%;
    }
    #selecionado{
        width:11%;
        position: absolute;
        z-index: 999;
        left:27.2%;
        top:73%;
        border: white 0.6vw solid;
        background-color: white;
        border-radius: 5vw;
        transform: rotate(-3.99deg);
    }
    #eli2{
        position:absolute;
        width:100%;
        bottom: 0;
        z-index: 998;
    }
    #eli1{
        position:absolute;
        width:100%;
        bottom:0;
        z-index: 997;
    }
    /**/
}