main{
    position:relative;
    width:100%;
    height:55vw;
    background-color: white;
    margin-top: 3vw;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}
h2{
    font-family: K2D;
    color:#245AE5;
    font-size: 3.5vw;
    text-align: center;
    padding-top: 3vw;
    margin-bottom: 0.5vw;
}
#hrpergu{
    border:#245AE5 solid 0.2vw;
    position: relative;
    width:56%;
    margin: auto;
    margin-bottom: 2vw;
}
#pergu{
    width:80%;
    position:relative;
    display: inline-flex;
    margin-left:10%;
}
#pergu > h3{
    color:gray;
    width:50%;
    font-size: 2vw;
    font-family: Inter;
    line-height: 3vw;
}
input{
    position:absolute;
    width:60%;
    height:23vw;
    left:10%;
    top: 36%;
    border-radius:3vw;
    border: gray solid 0.4vw;
    font-size:1.8vw;
    font-family:K2D;
    color: rgb(0, 0, 0);
    padding-left:0.5vw;
    outline: none;
}
input::placeholder{
    position: absolute;
    top:5%;
    left:5%;
    font-size:1.8vw;
    font-family:K2D;
    color: rgb(177, 177, 177);
}
#mandar{
    width:25%;
    height:5vw;
    background-color: #0062e2;
    position:absolute;
    bottom:5%;
    left:10%;
    border-radius: 5vw;
    border:none;
    transition: 200ms;
}
#mandar > p{
    font-family: K2D;
    color:white;
    font-size:2.2vw;
    text-align: center;
    width:100%;
    line-height: 5vw;
    border-radius: 5vw;
}
#mandar:hover{
    cursor: pointer;
    background-color: #0038FF;
    transition: 200ms;
}
#golfinho{
    position: absolute;
    bottom: 0;
    right:0;
    width:23vw;
}
#estrelas{
    position: absolute;
    bottom:0%;
    right:20%;
    width:28%;
    height:7vw;
    border-top-left-radius:3vw;
    border-top-right-radius:3vw;
    background-color: rgba(36, 148, 229, 42%);
    display: inline-flex;
    justify-content: space-around;
    padding-left:2vw;
    padding-right:2vw;
}
#estrelas > button{
    width:5vw;
    height:5vw;
    margin-top:1vw;
    border:none;
    background: none;
    transition: 200ms;
}
#estrelas > button > img{
    width:5vw;
    height:5vw;
}
#estrelas > button:hover{
    cursor:pointer;
    transition: 200ms;
    transform: scale(1.05);
    opacity: 0.9;
}
#nav2{
    display: none;
}
@media only screen and (max-width: 600px){
    #nav2{
        position:fixed;
        bottom: 0;
        width:100%;
        height: 20vw;
        z-index: 999;
        display:block;
    }
    #fho{
        position: absolute;
        z-index: 999;
        width:9%;
        left:45.5%;
        top:8%;
        opacity: 0.6;
    }
    #fjo{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:9%;
        right:28%;
        top:16%;
    }
    #fco{
        position: absolute;
        z-index: 999;
        width:8%;
        left:29%;
        top:19%;
    }
    #fcb{
        position: absolute;
        z-index: 999;
        width:8%;
        left:11.5%;
        top:31%;
        opacity: 0.5;
    }
    #fli{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:8%;
        right:11.5%;
        top:31%;
    }
    #selecionado{
        width:11%;
        position: absolute;
        z-index: 999;
        left:27.2%;
        top:73%;
        border: white 0.6vw solid;
        background-color: white;
        border-radius: 5vw;
        transform: rotate(-3.99deg);
    }
    #eli2{
        position:absolute;
        width:100%;
        bottom: 0;
        z-index: 998;
    }
    #eli1{
        position:absolute;
        width:100%;
        bottom:0;
        z-index: 997;
    }
    /**/
}