/*inicial*/
#inicial{
    width:100%;
    height:40vw;
    position:relative;
    margin-top:4vw;
    display:inline-flex;
}
#carro{
    display:none;
}
#divSabia{
    margin-left:3%;
    width:67%;
    height:auto;
    position:relative;
}
#saHeader{
    width:100%;
    height:20%;
    position:absolute;
}
#loca2{
    display:none;
}
#loca{
    width:27vw;
    height:5vw;
    position: absolute;
    border:0.2vw white solid;
    border-radius: 5vw;
    animation:logcad 7s linear infinite;
}
#login{
    width:11vw;
    padding-right:16vw;
    height:5vw;
    position: absolute;
    background-color: white;
    border-radius: 5vw;
    text-decoration: none;
    transition: 200ms;
}
#login > p{
    width:11.5vw;
    line-height:4.8vw;
    text-align: center;
    font-family: K2D;
    font-size: 2vw;
    font-weight: 500;
    color:#0038FF;
    border-radius: 5vw;
}
#login:hover{
    transition:300ms;
    opacity: 0.7;
}
#cadastro{
    width:16vw;
    height:5vw;
    position: absolute;
    background-color:#0038FF;
    border-radius: 5vw;
    border-bottom-left-radius:0;
    right:0;
    text-decoration: none;
    transition: 200ms;
}
#cadastro > p{
    width:16vw;
    line-height:4.8vw;
    text-align: center;
    font-family: K2D;
    font-size: 2vw;
    font-weight: 500;
    color:white;
    border-radius: 5vw;
}
#cadastro:hover{
    transition:300ms;
    opacity: 0.7;
}
#saHeader > h2{
    color:white;
    font-weight:lighter;
    font-size: 5vw;
    font-family:K2D;
    left:47%;
    position:absolute;
}
#nav2{
    display: none;
}
#saMain{
    width:100%;
    height:80%;
    top:20%;
    position:absolute;
}
#ave{
    width:3vw;
    z-index:998;
    position:absolute;
    top:0;
    left:0;
    animation: ave 1.2s ease-in-out infinite;
}
#coq{
    width:21vw;
    z-index:998;
    position:absolute;
    bottom:-25%;
}
#saMain > p{
    position:absolute;
    font-size: 2.2vw;
    font-family: Inter;
    font-weight: 350;
    color:white;
    text-align:justify;
    width:40vw;
    top:3%;
    right:5%;
}
#tar{
    width:33vw;
    position:absolute;
    top:35%;
    right: 10%;
    border-radius:1vw;
}
#tarfonte{
    bottom: 0;
    right:11%;
    width: 31vw;
    text-decoration: none;
    position: absolute;
    display:none;
}
#tarfonte > p{
    font-size: 1vw;
    font-family: Inter;
    font-weight: 350;
    color:white;
}
#tarfonte > p:hover{
    color:#acd6f4;
}
#divTcc2{
    display: none;
}
#divTcc{
    width:30%;
    height:auto;
    position:relative;
}
#tcc{
    margin-left:10%;
    position:absolute;
    top:5%;
    width:80%;
    height:90%;
    background-color: white;
    border-bottom-left-radius: 4vw;
    border-bottom-right-radius: 4vw;
    border-top-left-radius: 4vw;
}
#tcc > h2{
    font-family: K2D;
    color:black;
    font-size:2.3vw;
    position:absolute;
    width:100%;
    text-align: center;
    top:7%;
}
#tcc > p{
    font-family: Inter;
    color:black;
    font-size:1.6vw;
    position:absolute;
    width:90%;
    text-align: justify;
    top:19%;
    margin-left:5%;
}
#tcc > a{
    width:70%;
    height:5vw;
    background-color: #0062e2;
    position:absolute;
    bottom:8%;
    margin-left:15%;
    border-radius: 5vw;
    text-decoration: none;
    transition: 200ms;
}
#tcc > a > p{
    font-family: K2D;
    color:white;
    font-size:1.5vw;
    text-align: center;
    width:90%;
    margin-left:5%;
    margin-top:0.5vw;
    line-height:2vw;
    border-radius: 5vw;
}
#tcc > a:hover{
    cursor: pointer;
    background-color: #0038FF;
    transition: 200ms;
}
/*destaque1*/
#destaque1{
    width:100%;
    height:50vw;
    margin-top: 3vw;
    position:relative;
    background-color: #F9DF9C;
}
#coco{
    width:4.5vw;
    height:auto;
    transform: rotate(-28.17deg);
    position:absolute;
    left:14.5%;
    top:3%;
}
#concha1{
    width:2vw;
    height:auto;
    transform: rotate(28.17deg);
    position:absolute;
    left:3%;
    top:6%;
}
#concha2{
    width:3vw;
    height:auto;
    transform: rotate(-160deg);
    position:absolute;
    right:9%;
    top:4%;
}
#concha3{
    width:4vw;
    height:auto;
    transform: rotate(-240deg);
    position:absolute;
    left:40%;
    bottom:3%;
}
#recolendo{
    width:35%;
    position:absolute;
    bottom:-7%;
    left:55%;
}
#caranguejo{
    width:6.7vw;
    position:absolute;
    bottom:0;
    left:45%;
}
#bola{
    width:6vw;
    position:absolute;
    bottom:3%;
    right:3%;
    animation: bola 10s ease-in-out infinite;
}
#des1jogo{
    width:35%;
    height:70%;
    position: absolute;
    top:17%;
    left:7%;
}
#des1jogo > img{
    position: absolute;
    width:100%;
    height:auto;
    border-radius:1vw;
    box-shadow:0.5vw 0.5vw rgba(0,0,0,15%);
}
#des1jogo > a{
    position: absolute;
    width:55%;
    height:15%;
    bottom:7%;
    left:22.35%;
    background-color: red;
    border-radius: 5vw;
    border:white 0.3vw solid;
    animation:logcad 7s linear infinite;
    transition: 200ms;
}
#des1jogo > a > p{
    font-family: Inter;
    position: absolute;
    color:white;
    font-size:3vw;
    text-align: center;
    width:100%;
    line-height:5vw;
    font-weight: bold;
    border-radius: 5vw;
}
#des1jogo > a:hover{
    transition: 200ms;
    background-color: rgb(202, 0, 0);
    cursor:pointer;
}
#des1Texto{
    position:absolute;
    right:0;
    top:10%;
    width:40%;
    height:16vw;
    background-color: #D07D00;
    border-bottom-left-radius: 4vw;
    border-top-left-radius: 4vw;
    box-shadow:0.5vw 0.5vw rgba(0,0,0,10%);
}
#des1Texto > p{
    font-family: Inter;
    color:white;
    font-size:2.5vw;
    text-align: center;
    width:90%;
    margin-left:5.5%;
    margin-top: 5%;
}
#destaque2{
    width:100%;
    height:50vw;
    position:relative;
    background-image:linear-gradient(0deg, rgb(1, 48, 139), rgba(27, 137, 217, 0%));
}
#peixe{
    position: absolute;
    opacity: 0.8;
    top:5%;
    right:-9%;
    animation: peixe 25s linear infinite;
    z-index: 9;
    width:10%;
}
#peixe2{
    position: absolute;
    opacity: 0.7;
    top:80%;
    right:-9%;
    animation: peixe 40s linear infinite;
    z-index: 9;
    width:7%;
}
#alga1{
    position:absolute;
    bottom:0;
    left:10%;
    width:8%;
    opacity: 0.8;
    z-index: 998;
}
#alga11{
    position:absolute;
    bottom:0;
    right:24%;
    width:7%;
    opacity: 0.8;
    z-index: 998;
}
#alga2{
    position:absolute;
    bottom:0;
    left:17%;
    width:13%;
    opacity: 0.8;
    z-index: 998;
}
#alga22{
    position:absolute;
    bottom:0;
    right:7%;
    width:15%;
    opacity: 0.8;
    z-index: 998;
}
#alga222{
    position:absolute;
    bottom:0;
    left:-2%;
    width:11%;
    opacity: 0.8;
    z-index: 998;
}
#alga2222{
    position:absolute;
    bottom:0;
    left:35%;
    width:11%;
    opacity: 0.8;
    z-index: 998;
}
#alga3{
    position:absolute;
    bottom:0;
    left:25%;
    width:14%;
    opacity: 0.8;
    z-index: 998;
}
#alga33{
    position:absolute;
    bottom:0;
    right:29%;
    width:11%;
    opacity: 0.8;
    z-index: 998;
}
#alga333{
    position:absolute;
    bottom:0;
    right:0%;
    width:12%;
    opacity: 0.8;
    z-index: 998;
}
#alga4{
    position:absolute;
    bottom:0;
    right:35%;
    width:12%;
    opacity: 0.8;
    z-index: 998;
}
#alga5{
    position:absolute;
    bottom:0;
    right:43%;
    width:12%;
    opacity: 0.8;
    z-index: 998;
}
#alga55{
    position:absolute;
    bottom:0;
    right:18%;
    width:8%;
    opacity: 0.8;
    z-index: 998;
}
#alga6{
    position:absolute;
    bottom:0;
    left:2%;
    width:11%;
    opacity: 0.8;
    z-index: 998;
}
#des2jogo{
    width:35%;
    height:70%;
    position: absolute;
    top:12%;
    right:7%;
    z-index: 10;
}
#des2jogo > img{
    position: absolute;
    width:100%;
    height:auto;
    border-radius:1vw;
}
#des2jogo > a{
    position: absolute;
    width:55%;
    height:15%;
    bottom:7%;
    left:22.35%;
    background-color: red;
    border-radius: 5vw;
    border:white 0.3vw solid;
    animation:logcad 7s linear infinite;
    transition: 200ms;
}
#des2jogo > a > p{
    font-family: Inter;
    position: absolute;
    color:white;
    font-size:3vw;
    text-align: center;
    width:100%;
    line-height:5vw;
    font-weight: bold;
    border-radius: 5vw;
}
#des2jogo > a:hover{
    transition: 200ms;
    background-color: rgb(202, 0, 0);
    cursor:pointer;
}
#des2Texto{
    position:absolute;
    left:10%;
    top:25%;
    width:40%;
    height:16vw;
    background-color: #0079D0;
    border-radius: 4vw;
    border:white solid 0.3vw;
    opacity: 0.9;

}
#des2Texto > p{
    font-family: Inter;
    color:white;
    font-size:2.5vw;
    text-align: center;
    width:90%;
    margin-left:5.5%;
    margin-top: 5%;
}

@media only screen and (max-width: 600px){
    #nav2{
        position:fixed;
        bottom: 0;
        width:100%;
        height: 20vw;
        z-index: 999;
        display:block;
    }
    #fho{
        position: absolute;
        z-index: 999;
        width:9%;
        left:45.5%;
        top:8%;
    }
    #fjo{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:9%;
        right:28%;
        top:16%;
    }
    #fco{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:8%;
        left:29%;
        top:19%;
    }
    #fcb{
        position: absolute;
        z-index: 999;
        opacity: 0.5;
        width:8%;
        left:11.5%;
        top:31%;
    }
    #fli{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:8%;
        right:11.5%;
        top:31%;
    }
    #selecionado{
        width:11%;
        position: absolute;
        z-index: 999;
        left:44.15%;
        top:71%;
        border: white 0.6vw solid;
        background-color: white;
        border-radius: 5vw;
    }
    #eli2{
        position:absolute;
        width:100%;
        bottom: 0;
        z-index: 998;
    }
    #eli1{
        position:absolute;
        width:100%;
        bottom:0;
        z-index: 997;
    }
    #carro{
        display:block;
        height:55vw;
        width:95%;
        margin: auto;
        position: relative;
        margin-left:2.5%;
        margin-top: 7vw;
    }
    #carro > img{
        width:100%;
        position: absolute;
        border-radius: 2vw;
    }
    #inicial{
        height:150vw;
    }
    #divSabia{
        width:100%;
        margin-left:0%;
    }
    #saHeader{
        height:10%;
    }
    #saHeader > h2{
        left:0%;
        width:100%;
        text-align: center;
        font-size: 9vw;
    }
    #loca{
        display: none;
    }
    #loca2{
        display:block;
        width:35vw;
        height:24vw;
        position: absolute;
        border:0.2vw white solid;
        border-top-left-radius: 5.5vw;
        border-bottom-right-radius: 5vw;
        animation:logcad 7s linear infinite;
        bottom:2%;
        right:10%;
    }
    #login{
        position: static;
        display: block;
        height:12vw;
        width:35vw;
        padding: 0;
        border-radius: 0;
        border-top-left-radius: 5vw;
    }
    #login > p{
        width:35vw;
        line-height: 12vw;
        font-size:4vw;
        font-weight: lighter;
    }
    #cadastro{
        position: static;
        display: block;
        height:12vw;
        width:35vw;
        padding: 0;
        border-radius: 0;
        border-bottom-right-radius: 5vw;
    }
    #cadastro > p{
        width:35vw;
        line-height: 12vw;
        font-size:4vw;
        font-weight: lighter;
    }
    #saMain{
        height:90%;
        top:10%;
    }
    #saMain > p{
        right:7.5%;
        top:0%;
        width:85%;
        text-align: justify;
        font-size:5vw;
    }
    #ave{
        left:60%;
        top:70%;
        width:9vw;
    }
    #coq{
        bottom:-10%;
        width:38vw;
    }
    #coco{
        width:7.6vw;
        left:20%;
    }
    #tar{
        right:7.5%;
        top:22%;
        width:85%;
    }
    #tarfonte{
        display: block;
        left:13%;
        width:74%;
        top:60%;
    }
    #tarfonte > p{
        font-size:2.5vw;
    }
    #divTcc{
        display:none;
    }
    #destaque1{
        height:180vw;
    }
    #divTcc2{
        display: block;
        width:90%;
        height:140vw;
        position:relative;
        z-index: 998;
        margin-left:5%;
        left:0;
        top:10%;
    }
    #tcc2{
        position:absolute;
        width:100%;
        height:95%;
        background-color: white;
        border-radius: 15vw;
    }
    #tcc2 > h2{
        font-family: K2D;
        color:black;
        font-size:9vw;
        position:absolute;
        width:100%;
        text-align: center;
        top:5%;
    }
    #tcc2 > p{
        font-family: Inter;
        color:black;
        font-size:6vw;
        position:absolute;
        width:90%;
        text-align: justify;
        top:16%;
        margin-left:5%;
    }
    #tcc2 > a{
        width:70%;
        height:20vw;
        background-color: #0062e2;
        position:absolute;
        bottom:8%;
        margin-left:15%;
        border-radius: 15vw;
        text-decoration: none;
        transition: 200ms;
    }
    #tcc2 > a > p{
        font-family: K2D;
        color:white;
        font-size:6vw;
        text-align: center;
        width:90%;
        margin-left:5%;
        margin-top:0.5vw;
        line-height:8vw;
        border-radius: 15vw;
        margin-top: 2vw;
    }
    #tcc2 > a:hover{
        cursor: pointer;
        background-color: #0038FF;
        transition: 200ms;
    }
    #recolendo{
        display: none;
    }
    #caranguejo{
        width:14vw;
        top:1%;
        left:70%;
    }
    #des1Texto{
        display:none;
    }
    #des1jogo{
        display:none;
    }
    #bola{
        display: none;
    }
    #destaque2{
        display:none;
    }
}