main{
    width:100%;
    height: 69.5vh;
    position: relative;
}
#desc1{
    width:100vw;
    height:30vh;
    position: relative;
    background-color: #3D2BB0;
    display: flex;
    justify-content: space-around;
    z-index: 990;
}
#info2{
    display: none;
}
#info1{
    position: relative;
    width:28%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info1 > button{
    position: absolute;
    width:70%;
    height:6vw;
    background-color: red;
    border-radius: 5vw;
    border:white 0.3vw solid;
    animation:logcad 7s linear infinite;
    transition: 200ms;
}
#info1 > button > a > p{
    font-family: Inter;
    position: absolute;
    color:white;
    font-size:3vw;
    text-align: center;
    width:100%;
    top:0;
    line-height:5vw;
    font-weight: bold;
    border-radius: 5vw;
}
#info1 > button:hover{
    transition: 200ms;
    background-color: rgb(202, 0, 0);
    cursor:pointer;
}
#info11{
    position: relative;
    width:36%;
    height:auto;
}
#info11 > h2{
    color:white;
    font-family: K2D;
    font-weight: 100;
    font-size: 2vw;
    width:100%;
    text-align: center;
    margin-top: 1vw;
}
#info11 > p{
    margin-top: 0.5vw;
    margin-left:3.5vw;
    width:29vw;
    color:white;
    text-align: justify;
    font-family: Inter;
    font-weight: 250;
    font-size: 1.5vw;
}
#desc2{
    width:100vw;
    height:30vh;
    position: relative;
    background-color: #3D2BB0;
    display: none;
    justify-content: space-around;
    z-index: 990;
}
#b1{
    background-image:linear-gradient(to right, rgba(1, 48, 139, 50%), rgba(27, 137, 217, 0%));
    width:20%;
    height:120%;
    top:-10vw;
    padding-bottom:6vw;
    left:0;
    position: absolute;
    z-index: 9;
}
#bo1{
    position: absolute;
    width:20%;
    height:30%;
    top:50%;
    background-color:rgba(105, 105, 105, 73%);
    border-top: solid 0.2vw #B5B5B5;
    border-right: solid 0.2vw #B5B5B5;
    border-bottom: solid 0.2vw #B5B5B5;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    color: white;
    font-size: 3vw;
    transition: 200ms;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#bo1 > img{
    position: static;
    width:70%;
    margin-left:-0.5vw;
}
#bo1:hover{
    background-color: rgb(39, 39, 39);
    transition: 200ms;
    cursor: pointer;
}
#b2{
    background-image:linear-gradient(to left, rgba(1, 48, 139, 50%), rgba(27, 137, 217, 0%));
    width:20%;
    height:120%;
    top:-10vw;
    padding-bottom:6vw;
    position: absolute;
    z-index: 9;
    right:0%;
}
#bo2{
    position: absolute;
    width:20%;
    right:0;
    height:30%;
    top:50%;
    background-color:rgba(105, 105, 105, 73%);
    border-top: solid 0.2vw #B5B5B5;
    border-left: solid 0.2vw #B5B5B5;
    border-bottom: solid 0.2vw #B5B5B5;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    color: white;
    font-size: 3vw;
    transition: 200ms;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#bo2 > img{
    position: static;
    width:70%;
    margin-right:-0.5vw;
    transform: scale(-1, 1);
}
#bo2:hover{
    background-color: rgb(39, 39, 39);
    transition: 200ms;
    cursor: pointer;
}
#jogos{
    width:100vw;
    height:35vw;
    position: absolute;
    overflow: hidden;
}
#jogoscon{
    width:240vw;
    position: absolute;
    height:100%;
    left:34.5vw;
    display: inline-flex;
    justify-content: space-around;
    transition:1s ease-in-out;
}
.jo{
    width: 25vw;
    height:25vw;
    margin-top:3vw;
    border-radius:1vw;
    transition:1s ease-in-out;
}
#nav2{
    display: none;
}
@media only screen and (max-width: 600px){
    #nav2{
        position:fixed;
        bottom: 0;
        width:100%;
        height: 20vw;
        z-index: 999;
        display:block;
    }
    #fho{
        position: absolute;
        z-index: 999;
        width:9%;
        left:45.5%;
        top:8%;
        opacity: 0.6;
    }
    #fjo{
        position: absolute;
        z-index: 999;
        width:9%;
        right:28%;
        top:16%;
    }
    #fco{
        position: absolute;
        z-index: 999;
        width:8%;
        left:29%;
        top:19%;
        opacity: 0.6;
    }
    #fcb{
        position: absolute;
        z-index: 999;
        width:8%;
        left:11.5%;
        top:31%;
        opacity: 0.5;
    }
    #fli{
        position: absolute;
        z-index: 999;
        opacity: 0.6;
        width:8%;
        right:11.5%;
        top:31%;
    }
    #selecionado{
        width:11%;
        position: absolute;
        z-index: 999;
        right:26.95%;
        top:73%;
        border: white 0.6vw solid;
        background-color: white;
        border-radius: 5vw;
        transform: rotate(3.99deg);
    }
    #eli2{
        position:absolute;
        width:100%;
        bottom: 0;
        z-index: 998;
    }
    #eli1{
        position:absolute;
        width:100%;
        bottom:0;
        z-index: 997;
    }
    /**/
    #Gheader{
        position: absolute;
    }
    main{
        height:100vh;
    }
    #b1{
        padding-bottom: 0;
        height:50%;
    }
    #bo1{
        top:47%;
        height:20vw;
        width:38%;
        border-top-right-radius: 5vw;
        border-bottom-right-radius: 5vw;
        border-top: solid 0.7vw #B5B5B5; 
        border-right: solid 0.7vw #B5B5B5; 
        border-bottom: solid 0.7vw #B5B5B5;
        background-color: rgb(39, 39, 39);
    }
    #b2{
        padding-bottom: 0;
        height:50%;
    }
    #bo2{
        top:47%;
        height:20vw;
        width:38%;
        border-top-left-radius: 5vw;
        border-bottom-left-radius: 5vw;
        border-top: solid 0.7vw #B5B5B5; 
        border-left: solid 0.7vw #B5B5B5; 
        border-bottom: solid 0.7vw #B5B5B5; 
        background-color: rgb(39, 39, 39);
    }
    #jogos{
        margin-top: 11vh;
        height:25%;
    }
    #jogoscon{
        width:600vw;
        left:13.5vw;
    }
    .jo{
        width:auto;
        height:90%;
    }
    #desc1{
        bottom: 0;
        position: absolute;
        height:60%;
        display:block;
    }
    #info1{
        display: none;
    }
    #info2{
        display: block;
        position: relative;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:4vw;
    }
    #info2 > button{
        width:36vw;
        height:9vw;
        background-color: red;
        border-radius: 5vw;
        border:white 0.7vw solid;
        animation:logcad 7s linear infinite;
        transition: 200ms;
    }
    #info2 > button > a > p{
        font-family: Inter;
        position: absolute;
        color:white;
        font-size:5vw;
        text-align: center;
        width:100%;
        top:0;
        line-height:7.5vw;
        font-weight: bold;
        border-radius: 5vw;
    }
    #info2 > button:hover{
        transition: 200ms;
        background-color: rgb(202, 0, 0);
        cursor:pointer;
    }
    #info11{
        width:90%;
        margin-left:5%;
        margin-top: 3.5vw;
    }
    #info11 > h2{
        font-size: 23px;
    }
    #info11 > p{
        width:100%;
        font-size: 15px;
        margin-left: 0;
        margin-top: 1vw;
    }
    #desc2{
        position: absolute;
        bottom: 0;
        height:60%;
        display:block;
    }
}