main{
    width:100vw;
    height: 69.5vh;
    position: relative;
}
#desc1{
    width:100vw;
    height:30vh;
    position: relative;
    background-color: #3D2BB0;
    display: flex;
    justify-content: space-around;
}
#info1{
    position: relative;
    width:28%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info1 > button{
    position: absolute;
    width:70%;
    height:40%;
    background-color: red;
    border-radius: 5vw;
    border:white 0.3vw solid;
    animation:logcad 7s linear infinite;
    transition: 200ms;
}
#info1 > button > p{
    font-family: Inter;
    position: absolute;
    color:white;
    font-size:3vw;
    text-align: center;
    width:100%;
    top:0;
    line-height:5vw;
    font-weight: bold;
    border-radius: 5vw;
}
#info1 > button:hover{
    transition: 200ms;
    background-color: rgb(202, 0, 0);
    cursor:pointer;
}
#info11{
    position: relative;
    width:36%;
    height:100%;
}
#info11 > h2{
    color:white;
    font-family: K2D;
    font-weight: 100;
    font-size: 2vw;
    width:100%;
    text-align: center;
    margin-top: 1vw;
}
#info11 > p{
    margin-top: 0.5vw;
    margin-left:3.5vw;
    width:29vw;
    color:white;
    text-align: justify;
    font-family: Inter;
    font-weight: 250;
    font-size: 1.5vw;
}
#desc2{
    width:100vw;
    height:30vh;
    position: relative;
    background-color: #3D2BB0;
    display: none;
    justify-content: space-around;
}
#b1{
    background-image:linear-gradient(to right, rgba(1, 48, 139, 50%), rgba(27, 137, 217, 0%));
    width:20%;
    height: 150%;
    top:-50%;
    left:0;
    position: absolute;
    z-index: 9;
}
#bo1{
    position: absolute;
    width:20%;
    height:30%;
    top:50%;
    background-color:rgba(105, 105, 105, 73%);
    border: solid 0.2vw #B5B5B5;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    color: white;
    font-size: 3vw;
    transition: 200ms;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#bo1 > img{
    position: static;
    width:70%;
    margin-left:-0.5vw;
}
#bo1:hover{
    background-color: rgb(39, 39, 39);
    transition: 200ms;
    cursor: pointer;
}
#b2{
    background-image:linear-gradient(to left, rgba(1, 48, 139, 50%), rgba(27, 137, 217, 0%));
    width:20%;
    height: 150%;
    top:-50%;
    position: absolute;
    right:0.8%;
    z-index: 9;
}
#bo2{
    position: absolute;
    right:0%;
    width:20%;
    height:30%;
    top:50%;
    background-color:rgba(105, 105, 105, 73%);
    border: solid 0.2vw #B5B5B5;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
    color: white;
    font-size: 3vw;
    transition: 200ms;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#bo2 > img{
    position: static;
    width:70%;
    margin-right:-0.5vw;
    transform: scale(-1, 1);
}
#bo2:hover{
    background-color: rgb(39, 39, 39);
    transition: 200ms;
    cursor: pointer;
}
#jogos{
    width:240vw;
    position: absolute;
    height:100%;
    left:35vw;
    display: inline-flex;
    justify-content: space-around;
    transition:1s ease-in-out;
}
.jo{
    width: 25vw;
    height:25vw;
    margin-top:3vw;
    border-radius:1vw;
    transition:1s ease-in-out;
}