/*--------------GERAL------------------*/
*{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    width: 1vw;
}
body::-webkit-scrollbar-track {
    background: gray;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);
}
@font-face{
    font-family:Inter;
    src: url("font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face{
    font-family:Kaushan;
    src: url("font/Kaushan_Script/KaushanScript-Regular.ttf");
}
@font-face{
    font-family:K2D;
    src: url("font/K2D/K2D-Medium.ttf");
}
#Gheader{
    width:100%;
    position:relative;
    height:13vw;
    background-color: #F9DF9C;
    z-index: 999;
    align-items: center;
    display:flex;
}
#Gheader > a{
    position: absolute;
    width:40vw;
    height:8vw;
    left:5%;
    align-items: center;
    display:flex;
}
#Gheader > a > h1{
    font-family:Kaushan;
    font-size:3.5vw;
    font-weight: 550;
    position: absolute;
    color:black;
    transition: 200ms;
    animation:loginh1 600ms ease-out;
    width:40vw;
    text-align:left;
}
#Gheader > a > h1:hover{
    transform:scale(1.05);
    transition:200ms;
    cursor:pointer;
}
#Gheaderimg1{
    position:absolute;
    width:13vw;
    height:auto;
    left:48%;
    animation: headerimg1 400ms linear;
}
#Gheaderimg2{
    position:absolute;
    width:15vw;
    height:auto;
    right:3%;
    animation: headerimg2 600ms ease-out;
}

#Gnav{
    width:90vw;
    height:5vw;
    margin: 0 auto;
    margin-top:0.5vw;
    position:relative;
    animation: anav 1s ease-out;
    z-index: 998;
}
#Gnav > div{
    position:absolute;
    width:98%;
    margin-left:1%;
    height:auto;
    display:inline-flex;
    margin-top:1vw;
    justify-content: space-between;
}
#Gnav > div > a{
    text-decoration: none;
}
#Gnav > div > a > p:hover{
    transition:200ms;
    opacity:0.7;
}
#anavSec{
    font-family: K2D;
    color:white;
    font-size:2.5vw;
}
#anavPri{
    height:4vw;
    padding-right:1vw;
    padding-left:1vw;
    font-family: K2D;
    color:#238DDA;
    font-weight: bold;
    font-size:2.6vw;
    background-color: white;
    border-top-right-radius:1.5vw;
    border-top-left-radius:1.5vw;
}
#Gnav > hr{
    position: absolute;
    bottom:0;
    margin-left:-2px;
    border:0.13vw white solid;
    width:90vw;
}
/*-------------------------------------*/

/*-------------Animações---------------*/
@keyframes loginh1 {
    from{
        margin-top:-30vw;
    }
    to{
        margin-top: 0;
    }
}
@keyframes headerimg1{
    from{
        transform: scale(0.8);
    }
    to{
        transform:scale(1);
    }
}
@keyframes headerimg2{
    from{
        right:-30%;
    }
    to{
        right:3%;
    }
}
@keyframes anav{
    from{
        margin-top:-20vw;
        margin-bottom:23vw;
    }
    to{
        margin-top:0.5vw;
        margin-bottom:0;
    }
}
@keyframes logcad{
    0%{
        transform:scale(1.0);
    }
    40%{
        transform:scale(1.1);
    }
    60%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1.0);
    }
}
@keyframes ave{
    0%{
        top:0;
        left:0;
    }
    50%{
        top:1.5%;
        left:1%;
    }
    100%{
        top:0;
        left:0;
    }
}
@keyframes bola{
    0%{
        bottom:3%;
        right:3%;
        transform: rotate(-180deg) scale(1);
    }
    25%{
        bottom:3%;
        right:-13%;
        transform: rotate(0deg) scale(1);
    }
    26%{
        bottom:3%;
        left:-7%;
        transform: rotate(0deg) scale(0.7);
    }
    50%{
        bottom:3%;
        left:3%;
        transform: rotate(180deg) scale(0.7);
    }
    75%{
        bottom:3%;
        left:-7%;
        transform: rotate(0deg) scale(0.7);
    }
    76%{
        bottom:3%;
        right:-13%;
        transform: rotate(0deg) scale(1);
    }
    100%{
        bottom:3%;
        right:3%;
        transform: rotate(-180deg) scale(1);
    }
}
@keyframes peixe{
    0%{
        right:-9%;
        transform: scale(1, 1);
    }
    25%{
        right:109%;
        transform: scale(1, 1);
    }
    50%{
        right:109%;
        transform: scale(-1, 1);
    }
    75%
    {
        right:-9%;
        transform: scale(-1, 1);
    }
    100%{
        right:-9%;
        transform: scale(-1, 1);
    }
}
/*-------------------------------------*/

/*--------------BODYs------------------*/
.home{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.jogos{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.lixos{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.CB{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.conta{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.feed{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.confi{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.login{
    width:100%;
    height:auto;
    overflow-x: hidden;
    display:flex;
}
.cadastro{
    width:100%;
    height:auto;
    overflow-x: hidden;
    background-color: #2494E5;
}
/*--------------------------------------*/
@media only screen and (max-width: 600px){
    @keyframes ave{
        0%{
            top:70%;
            left:60%;
        }
        50%{
            top:71.5%;
            left:61%;
        }
        100%{
            top:70%;
            left:60%;
        }
    }
    @keyframes headerimg2{
        from{
            right:-30%;
        }
        to{
            right:11%;
        }
    }
    #Gheaderimg1{
        display:none;
    }
    #Gheaderimg2{
        width:18vw;
        right:11%;
    }
    #Gheader > a{
        left:0%;
    }
    #Gheader > a > h1{
        font-size:6vw;
        text-align:center;
    }
    #Gnav{
        display: none;
    }
}