/*--------------GERAL------------------*/
*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:Inter;
    src: url("font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}
@font-face{
    font-family:Kaushan;
    src: url("font/Kaushan_Script/KaushanScript-Regular.ttf");
}
@font-face{
    font-family:K2D;
    src: url("font/K2D/K2D-Medium.ttf");
}
.a{
    text-decoration: none;
    color:black;
}
.hover1:hover{
    transition: 200ms;
    opacity: 0.8;
    cursor: pointer;
    transform: scale(0.99);
    color:black;
}
.bg1{
    background-color: white;
}
.bg2{
    background-color: #0038FF;
}
.bg3{
    background-color: #F9DF9C;
}
.bg4{
    background-color: #2494E5;
}
.font1{
    font-family:K2D;
}
.font2{
    font-family:Inter;
}
.raio{
    border-radius: 60px;
}
.text-justify{
    text-align: justify;
}




header{
    background-color: #F9DF9C;
    position: relative;
    z-index: 999;
}
#cleanBeach{
    font-family:Kaushan;
    text-decoration: none;
    animation:titulo 600ms ease-out;
    font-size: 1.75rem;
}
#imgHeader{
    margin-right: 1.5rem;
    width:5.5rem;
    animation: headerimg 600ms ease-out;
}



nav{
    margin: 0 auto;
    position:relative;
    animation: anav 1s ease-out;
    z-index: 500;
}
#anavSec{
    font-family: K2D;
    color:white;
    margin: 0;    
}
#anavPri{
    padding-right:1.25rem;
    padding-left:1.25rem;
    padding-top:0.25rem;
    padding-bottom: 0.15rem;
    font-family: K2D;
    color:#238DDA;
    font-weight: bold;
    background-color: white;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    margin: 0;
}
.hrNav{
    position:absolute;
    width:100%;
    bottom:0;
    border:1px white solid;
    margin: 0;
    opacity: 1.0;
    border-radius:5px
}
/*-------------------------------------*/

/*-------------Animações---------------*/
@keyframes titulo {
    from{
        margin-top:-30vw;
    }
    to{
        margin-top: 0;
    }
}
@keyframes headerimg{
    from{
        margin-right:-35rem;
    }
    to{
        margin-right:1.5rem;
    }
}
@keyframes anav{
    from{
        margin-top:-20vw;
        margin-bottom:20vw;
    }
    to{
        margin-top:0vw;
        margin-bottom:0;
    }
}
@keyframes logcad{
    0%{
        transform:scale(1.0);
    }
    40%{
        transform:scale(1.1);
    }
    60%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1.0);
    }
}
@keyframes ave{
    0%{
        top:80%;
        left:20%;
    }
    50%{
        top:81.5%;
        left:21%;
    }
    100%{
        top:80%;
        left:20%;
    }
}
@keyframes bola{
    0%{
        bottom:3%;
        right:3%;
        transform: rotate(-180deg) scale(1);
    }
    25%{
        bottom:3%;
        right:-13%;
        transform: rotate(0deg) scale(1);
    }
    26%{
        bottom:3%;
        left:-7%;
        transform: rotate(0deg) scale(0.7);
    }
    50%{
        bottom:3%;
        left:3%;
        transform: rotate(180deg) scale(0.7);
    }
    75%{
        bottom:3%;
        left:-7%;
        transform: rotate(0deg) scale(0.7);
    }
    76%{
        bottom:3%;
        right:-13%;
        transform: rotate(0deg) scale(1);
    }
    100%{
        bottom:3%;
        right:3%;
        transform: rotate(-180deg) scale(1);
    }
}
@keyframes peixe{
    0%{
        right:-9%;
        transform: scale(1, 1);
    }
    25%{
        right:109%;
        transform: scale(1, 1);
    }
    50%{
        right:109%;
        transform: scale(-1, 1);
    }
    75%
    {
        right:-9%;
        transform: scale(-1, 1);
    }
    100%{
        right:-9%;
        transform: scale(-1, 1);
    }
}
/*-------------------------------------*/

/*--------------BODYs------------------*/
.home{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.jogos{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.lixos{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.CB{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.conta{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.feed{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.confi{
    width:100%;
    height:auto;
    background-color: #2494E5;
    overflow-x: hidden;
}
.login{
    width:100%;
    height:auto;
    overflow-x: hidden;
    display:flex;
}
.cadastro{
    width:100%;
    height:auto;
    overflow-x: hidden;
    background-color: #2494E5;
}
/*--------------------------------------*/
@media only screen and (max-width: 600px){
    @keyframes ave{
        0%{
            top:70%;
            left:60%;
        }
        50%{
            top:71.5%;
            left:61%;
        }
        100%{
            top:70%;
            left:60%;
        }
    }
    @keyframes headerimg2{
        from{
            right:-30%;
        }
        to{
            right:11%;
        }
    }
    #Gheaderimg1{
        display:none;
    }
    #Gheaderimg2{
        width:18vw;
        right:11%;
    }
    #Gheader > a{
        left:0%;
    }
    #Gheader > a > h1{
        font-size:6vw;
        text-align:center;
    }
    #Gnav{
        display: none;
    }
}